<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>neuer_bundle</string>
	<key>object_list</key>
	<array>
		<dict>
			<key>host</key>
			<string>go</string>
			<key>class</key>
			<string>TelevisionWallViewController</string>
			<key>regex</key>
			<string>/tv</string>
		</dict>
		<dict>
			<key>host</key>
			<string>go</string>
			<key>class</key>
			<string>SearchLibraryViewController</string>
			<key>regex</key>
			<string>/lib</string>
		</dict>
		<dict>
			<key>host</key>
			<string>handle</string>
			<key>class</key>
			<string>GatewayViewController</string>
			<key>regex</key>
			<string>/ipgw</string>
		</dict>
		<dict>
			<key>host</key>
			<string>go</string>
			<key>class</key>
			<string>EcardViewController</string>
			<key>regex</key>
			<string>/ecard</string>
		</dict>
		<dict>
			<key>host</key>
			<string>go</string>
			<key>class</key>
			<string>AaoViewController</string>
			<key>regex</key>
			<string>/aao</string>
		</dict>
	</array>
</dict>
</plist>
