<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>neuer_bundle</string>
	<key>object_list</key>
	<array>
		<dict>
			<key>class</key>
			<string>URLRouter</string>
			<key>name</key>
			<string>url_router</string>
		</dict>
	</array>
	<key>url_handler_list</key>
	<array>
		<dict>
			<key>exact_url</key>
			<string>go/library</string>
			<key>object</key>
			<string>url_router</string>
		</dict>
	</array>
</dict>
</plist>
